# dependencies
/node_modules

# build outputs
/dist
/.turbo
/build
/.parcel-cache
/.vite

# system files
.DS_Store
Thumbs.db

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# environment files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
